#content {
  background-color: #1e1e1e;
}

.link {
  fill: none;
  stroke: #CCC;
  stroke-width: 6px;
}

.sidebar-content {
  margin: 10px 20px 10px 10px;
}

.margined-link {
  margin-left: 10px;
}

.form-actions {
  background-color: inherit;
  border: none;
  margin-top: -10px;
  padding-left: 10px;
}

.control-label {
  color: white;
}

.input-xlarge {
  width: 100%;
}

.tree {
  margin-top: 30px;
}

.tree-icon {
  text-align: center;
}

.tree-header, .node-header {
  color: white;
}

.trees-row {
  margin-top: 40px;
}

.node-icon-show {
  margin-top: 10px;
}
